.Counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .ButtonContainer + .ButtonContainer {
    margin-top: 10px;
  }

  .ButtonContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}