.Dropdown {
  position: relative;
  display: inline-block;

  &.right {
    align-self: flex-end;
  }

  &.left {
    align-self: flex-start;
  }

  .Dropdown-body {
    display: none;
    position: absolute;
    height: 150px;
    width: 100px;
    left: 100%;
    background-color: grey;
    border: 1px solid white;
    top: 0;

    &.isOpen {
      display: block;
      
    }
  }
}